body {
    border: 0;
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: rgb(9,17,32);
    border-top: 8px solid rgb(27,52,108);
}
ul { margin: 0; padding: 0; }
li { list-style: none; }
fieldset { outline: none; border: 0;}
input { outline: none; border: 0;}

/* 폼 태그 */
.container {
    width: 1200px;
    margin: 0 auto;
}
.container h1 {
    text-align: center;
    padding: 20px 0;
}

/* 검색창 */
#query {
    background-color:rgb(27, 35, 43, 0.3);
    padding: 15px;
    width: 480px;
    outline: none;
    border-bottom: 1px solid #ccc;
    font-weight: 200;
    color: #fff;
    font-size: 16px;
    margin: auto;
    display: block;
}
input::placeholder {
    color: #fff;
    font-size: 16px;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
/* 버튼 공통 */
button {
    border: 1.5px solid rgb(27, 35, 43);
    background-color:transparent;
    color: #fff;
    font-weight: 200;
}
button:hover {
    border: 1.5px solid rgb(23, 84, 189);
    color: rgb(23, 84, 189);
}
button:focus {
    border: 1.5px solid rgb(23, 84, 189);
}


/* 정렬 버튼 */
.btn-box {
    margin: 10px 0 50px 0;
    /* text-align: left; */
    text-align: center;
}
.btn-box button {
    padding: 10px 36px 10px 36px;
    cursor: pointer;
    margin-right: 5px;
}

/* 코인 리스트 */
#coin_list {
    /* margin: 10px 0 30px 0; */
    margin-bottom: 30px;
    width: 900px;
    margin: auto;
}
#coin_list::after {
    content: '';
    clear: both;
    display: block;
    float: none;
}

#coin_list li {
    border-bottom: 1px solid rgb(41, 47, 58);
    padding: 15px 0;
    width: 900px;
    margin: auto;
    float: left;
}

#coin_list li::after {
    content: '';
    clear: both;
    display: block;
    float: none;
}
#coin_list li div {
    float: left;
    /* width: 200px; */
    box-sizing: border-box;
    padding: 0 10px;
}

/* 코인별 박스 */
#coin_list li div:nth-child(1) {
    padding-left: 10px;
    box-sizing: border-box;
    width: 200px;
}
#coin_list li div:nth-child(2) {
    width: 150px;
    padding-left: 25px;
}
#coin_list li div:nth-child(3) {
    font-size: 14px;
    width: 100px;
    padding-left: 20px;
    color: rgb(196, 196, 196);
}
#coin_list li div:nth-child(4) {
    color: rgb(23, 84, 189);
    font-weight: 600;
    width: 150px;
    text-align: right;
}
#coin_list li div:nth-child(5) {
    width: 100px;
    text-align: right;
}
#coin_list li div:nth-child(6) {
    width: 200px;
    text-align: right;
    font-weight: 600;
    color: rgb(196, 196, 196);
}

/* 상단 코인리스트 카테고리 */
.list-name {
    border-bottom: 1px solid rgb(41, 47, 58);
    border-top: 1px solid rgb(41, 47, 58);
    width: 900px;
    margin: 0 auto;
}
.list-name::after {
    content: '';
    clear: both;
    display: block;
    float: none;
}
.list-name .category {
    float: left;
    width: 200px;
    /* border: 2px solid blue; */
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    font-weight: 300;
    background-color: rgb(22, 32, 49);
}
.list-name div:nth-child(1) {
    width: 200px;
}
.list-name div:nth-child(2) {
    width: 150px;
}
.list-name div:nth-child(3) {
    width: 100px;
}
.list-name div:nth-child(4) {
    width: 150px;
}
.list-name div:nth-child(5) {
    width: 100px;
}
.list-name div:nth-child(6) {
    width: 200px;
}